body {
    height: 100vh;
    padding:0;
    margin:0;
    font-family: sans-serif;
    background-image: url('https://raw.githubusercontent.com/arathee2/video-based-nlp/main/app/static/images/dark-blur.jpeg');
    background-size: cover;
}

.home {
	width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.home p {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	float: left;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
}

.textbox input {
	position: relative;
	order: none;
	outline: none;
	background: none;
	color: white;
	font-size: 15px;
	width: 60%;
	margin: 0 10px;
}

.button {
	box-sizing: border-box;
	text-decoration:none;
	font-size: 18px;
	color:#FFFFFF;
	background-color:#e33b5d;
	padding: 12px 50px;
	border-radius:25px;
	text-align:center;
	transition: all 0.05s;
}

.button:hover{
	color:#FFFFFF;
	background-color:#a61e39;
}

@media all and (max-width:30em){
	.button {
		display:block;
		margin:0.4em auto;
	}
}